.c4 {
  padding: 1px 5px 0 5px;
}

.sticky-a {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  padding: 8px;
}

.sticky-b {
  background-color: #ffffff;
  position: sticky;
  bottom: 0;
  padding: 8px;
}

.btn-ssm {
  padding: 0.25rem 0.5rem;
  font-size: .875rem;
  line-height: 1.0;
  border-radius: 0.2rem;
}

h3 {
  margin-top: 12px;
  color: #B90033;
}

.indice p {
  margin-top: 0;
  margin-bottom: 0;
}
